
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fdfdfd;
}
@import "./conpenent/variable";
@import "./conpenent/nav";
@import "./conpenent/product";
@import "./conpenent/footer";
@import "./conpenent/menu";
