@media (max-width: 1024px) and (min-width: 768px) {
  body{
    width: 100%;
    .delivery-form{
      width: 600px;
      .name,
      .num,
      .box{
        width: 90%;
      }
    }
  .feedback-location{
    width: 100%;
    .feedback-container{
      display: flex;
      flex-direction: column;
      .feedback-form{
        width: 95%;
        input[type=email]{
          width: 700px;
          padding: 25px;
        }
        textarea{
          width: 700px;
        }
        }
      .location-map{
        width: 95%;
        iframe {
          width: 700px;
        }
      }
      }
    }
  }
}










@media (max-width:480px) and (min-width: 320px) {
  nav{
    font-size: 12px;
  }
  .delivery-form{
    width: 600px;
    .name,
    .num,
    .box{
      width: 90%;
    }
  }
  .delivery-icon{
    .icon-right{
      display: none;
    }
  }
.feedback-location{
  width: 100%;
  .feedback-container{
    display: flex;
    flex-direction: column;
    .feedback-form{
      width: 90%;
      input[type=email]{
        width: 300px;
        padding: 25px;
      }
      textarea{
        width: 300px;
      }
      }
    .location-map{
      width: 90%;
      iframe {
        width: 300px;
      }
    }
    }
  }
}