.container{
    display: flex;
    height: fit-content;
    padding: 50px 0px 10px 80px;
    .images{
        display: flex;
        flex: 1.5;
        img{
            width: 80%;
            height: 80%;
        }
    }
    .card{
        display: flex;
        flex: 1;
        flex-direction: column;
        gap:20px;
        p:not(.card1 p,.card2 p){
            font: bold 1.1rem  "calibri", sans-serif ;
            // background: #000;
        }
        .card1{
            text-align: center;
            background:gray;
            color:white;
            padding: 20px;
            width: 90%;
            height: fit-content;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .card2{
            background:gray;
            color:white;
            padding: 20px;
            text-align: center;
            width: 90%;
            height: fit-content;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        h5{
            color:orange;
            font-size: 2rem;
            text-decoration: underline;
        }
        p{
            font:100 1rem "calibri", sans-serif;
            
        }
    }
}
@media  (max-width:768px) {
    .container{
        text-align: center;
        flex-direction: column;
        padding: 25px;
        .images{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .card{
            width: 100%;
            p:not(.card1 p,.card2 p) {
                font: bold 0.9rem "calibri", sans-serif;
            }
            .card1,.card2{
                padding: 10px;
                width: 100%;
            }
            p{
                font: 100 0.875rem "calibri", sans-serif;
            }
            h5{
                font-size: 1.5rem;
                margin-top: 10px;
            }
            
        }
    }
}
@media (max-width: 480px){
    .container{
        display: flex;
        flex-direction: column;
       h5{
        font-size: 1.2rem;
       }
    }
}