footer {
    display: flex;
    justify-content: space-evenly;
    background-color: $footer-bg-color;
    padding: 20px;
    color: $text-color;

    .footer-section {
        flex: 2;

        h2 {
            text-transform: uppercase;
            font-size: 24px;
            margin-bottom: 10px;
            color: $text-color;
        }

        p {
            font-size: 20px;
            line-height: 1.5;
        }

        .social-media {
            p {
                display: flex;
                align-items: center;
            }
        }
    }

    .about-us {
        margin-left: 3%;
    }

    .contact-us {
        margin-left: 14%;
    }

    .social-media {
        margin-left: 10%;
    }
}