.group-icon{
    background-color: white;
    display: flex;
    padding: 50px;
    gap: 60px;
    .icon-1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        *{
            margin-bottom: 20px;
        }
        h2{
            font-family: "Calibri", sans-serif;
        }
        span{
            text-align: center;
            font-family: "Calibri", sans-serif;
        }
    }
}