.group-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
    gap: 50px;
    .icon-1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 28%;
        padding: 5px 15px;
        *{
            margin-bottom: 10px;
        }
        img{
            height: 35px;
        }
       .icon-1-content{
        text-align: center;
            h2{
                font-family: "Calibri", sans-serif;
                font-size: 1rem;
            }
            span{
                text-align: center;
                font-family: "Calibri", sans-serif;
            }
       }
    }
}

@media (max-width: 900px){
    .group-icon{
        gap: 25px;
    }
    .icon-1{
        font-size: 0.875rem;
    }
}
@media (max-width: 768px){
    .group-icon{
        padding: 50px;
        gap: 15px;
    }
    .icon-1{
        font-size: 0.75rem;
    }
}
@media (max-width: 660px){
    .group-icon{
        padding: 15px;
        gap: 15px;
        .icon-1{
            display: flex;
            flex-direction: column;
            background: white;
            align-items: center;
            justify-content: start;
            width: 100%;
            .icon-1-content{
                display: flex;
                align-items: center;
                flex-direction: column;
            }
        }
    }
}