.knowlage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 11, 11);
    margin: 50px;
    border-radius: 20px;
    color: white;
    .bakery-left{
        img{
            width: 30%;
        }
    }
    .bakery-rigth{
        text-align: center;
        .btn{
            button{
                font-size: 20px;
                width: 30%;
                height: 30px;
                border-radius: 10px;
                background-color: rgb(245, 174, 186);
                color: white;
            }
            
        }
    }
}
.pg{
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin-bottom: 30px;
    }
}
.text{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "knowlage_icon_1 knowlage_icon_2 knowlage_icon_3";
    padding: 20px;
    gap: 10px;
    height: 50vh;
    text-align: center;
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        border: 1px solid black;
        
    }
    p{
        width: 70%;
        text-align: center;
    }
    h4{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    .knowlage_icon_1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .knowlage_icon_2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .knowlage_icon_3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

.bread{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    .bread_left{
        flex: 1;
        img{
            width: 90%;
        }
    }
    .bread_right{
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: self-start;
        width: 30%;
        padding: 30px;
        gap: 10px;
    }
}

