.knowlage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 11, 11);
    margin: 50px;
    padding: 15px;
    border-radius: 20px;
    color: white;
    height: fit-content;
    .bakery-left{
        width: 40%;
        height: fit-content;
        display: flex;
        justify-content: center;
        img{
            width: 30%;
        }
    }
    .bakery-rigth{
        width: 60%;
        text-align: center;
        .btn{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 15px;
            button{
                display: flex;
                font-size: 20px;
                padding: 8px 15px;
                border-radius: 10px;
                background-color: rgb(245, 174, 186);
                color: white;
                width: fit-content;
            }
            
        }
    }
}
.pg{
    p{
        font-family: "Calibri", sans-serif;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 30px;
    }
}
.text{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    padding: 20px;
    gap: 10px;
    height: 50vh;
    height: fit-content;
    text-align: center;
    h1{
        font-family: "Calibri", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        width: 50px;
        border: 1px solid black;
        
    }
    p{
        font-family: "Calibri", sans-serif;
        width: 100%;
        line-height: 1.5;
        text-align: center;
    }
    h4{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    .icon-img{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 32%;
        flex-wrap: wrap;
    }
    

}

.bread{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    .bread_left{
        flex: 1;
        img{
            width: 100%;
            
        }
    }
    .bread_right{
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: self-start;
        width: 30%;
        padding: 30px;
        gap: 10px;
        p{
            font-family: "Calibri", sans-serif;
        }
    }
}
@media (max-width: 768px) {
    .knowlage{
        margin: 35px;
        .bakery-left{
            img{
                width: 70%;
            }
        }
    }
}
@media (max-width: 480px) {
    .knowlage{
        margin: 25px;
        .bakery-left{
            img{
                width: 100%;
            }
        }
    }
}
@media (max-width: 768px){
    .text{
        display: flex;
        flex-direction: column;
        .icon-img{
            width: 100%;
            padding: 25px;
        }
    }
}
@media (max-width: 768px){
    .bread{
        display: flex;
        flex-direction: column;
       .bread_right{
            width: 100%;
            padding: 25px;
       }
       .bread_left{
            width: 100%;
        }
    }
}