.main{
    display: flex;
    height: fit-content;
    background: #e1d3d3;
    padding: 0 50px 50px 200px;
    gap: 200px;
    .main-left{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        h2{
            font-family: "Calibri", sans-serif;
            font-size: 1.7rem;
        }
        p{
            font-family: "Calibri", sans-serif;
            line-height: 1.5;
        }
    }
    .main-rigth{
        // background: #000;
        flex: 2;
        display: flex;
        img{
            // background: white;
            width: 80%;
            // height: 250px;
        }
    }
}