nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;

  .nav-left {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: $primary-color;

    .logo {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
  }

  .nav-right {
    ul {
      display: flex;
      list-style: none;
      margin-right: 20px;

      li {
        margin-left: 20px;

        a {
          text-decoration: none;
          color: $text-color;
          font-weight: bold;
          transition: color 0.3s ease;
          text-transform: uppercase;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}

.w3-content {
  max-width: 100%;
  position: relative;

  .mySlides {
    display: none;
  }
}

.welcome-section {
  padding: 40px 20px;
  text-align: center;
  background-color: $welcome-bg-color;
  color: $text-color;

  h2 {
    font-size: 32px;
    color: $primary-color;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
    color: $secondary-text-color;
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;

    .nav-left {
      display: flex;
      align-items: center;
      font-weight: bold;
      color: $primary-color;

      .logo {
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
      span{
        display: none;
      }
    }

    .nav-right {
      ul {
        display: flex;
        list-style: none;
        margin-right: 20px;

        li {
          margin-left: 20px;

          a {
            text-decoration: none;
            color: $text-color;
            font-weight: bold;
            transition: color 0.3s ease;
            text-transform: uppercase;

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }

  .w3-content {
    max-width: 100%;
    position: relative;

    .mySlides {
      display: none;
    }
  }

  .welcome-section {
    display: none;
  }
}