
$primary-color: #d9534f;
$color-bg: #fff;
$text-color: #333;
$secondary-text-color: #666;
$welcome-bg-color: #f8f8f8;
$secondary-color: #ff918d;
$light-gray: #f3f3f3;
$popular-bakery-bg: #f3e6e6;
$muted-text-color: #666;
$footer-bg-color: #f7e6e6;
